body{
    background-image: url(..//img/bg-body.jpg);
}
#contairner{
    margin: 0 auto;
    width: 860px;
    margin-bottom: 20px;
    margin-top: 30px;

}

#profile{
    background: #cf455c;
    background-image: url(../img/header-shadow.png);
    background-position: center bottom;
    background-repeat: repeat-x;
    overflow: hidden;
}
.row.no-margin{
    border: 5px solid aqua;
}
.about{
    float: left;
    margin-top: 30px;
    width: 490px;
    margin-left: 20px;
}
.about .photo-inner{
    float: left;
    background: url(..//img/photo-inner.png);
    width: 210px;
    height: 214px;
    padding: auto;
}
/*font-weigt:900;*/
.about h1{
    
    font-weight: 900;
    color: white;
    line-height: 34px;
    margin-top: 4px;
    margin-left: -20px;
    font-family: 'Oswald',sans-serif;
}
.about h3{
    margin-top: 5px;
    font-size: 18px;
    color: white;
    line-height: 18px;
    font-family: 'Oswald', sans-serif;
}
.about p{
    font-size: 14px;
    margin-top: 15px;
    color: white;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto Condensed',sans-serif;
}

.personal-info{
    float: left;
    margin-top: 30px;
    width: 310px;
    min-height: 230px;
    margin-left: 10px;
    background: url(../img/personal-info-sep.png) no-repeat left top;
    padding: 20px 0 19px 20px;
}
.personal-info li{
    line-height: 12px;
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    float: left;
    width: 293px;
}
.personal-info li label{
    color: white;
    float: left;
    padding: 4px 7px;
    font-weight: 550;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;
}
.personal-info li span{
    float: right;
    width: 220px;
    padding: 4px;
    font-weight: 400;
    color: white;
    font-family: 'Roboto Condensed',sans-serif;
    text-transform: uppercase;
}
header{
    position: relative;
    overflow: visible;
}
span.social-text{
    position: absolute;
    right: 0px;
    color: white;
    padding: 2px 9px;
    font-size: 22px;
    cursor: pointer;
    top: 10px;
    border-radius: 70px;
}
ul.socialicons{
    opacity: 0;
    top: -1px;
    position: relative;
    transition: all ease 1s;
    z-index: -1;
    left: -7px;

}

.pulse-button{
    position: relative;
    width: 35px;
    height: 35px;
    line-height: 15px;
    border: none;
    box-shadow: 0 0 0 0 rgb(101,100,100);
    background-color: #cf455c;
    cursor: pointer;
    color: white;
    font-size: 20px;

}
.menu{
    height: 100px;
    background-color: #ededed;
    position: relative;
    padding-left: 130px; 
    padding-right: 130px;
}
.tabs{
    height: 117px;
    position: absolute;
    margin-top: -14px;
    z-index: 100;
}
.tabs li{
    display:inline;
    padding-left:3px;
    padding-right:3px;
}


.tabs li >a:hover{
    background-color: aqua;
}

.tabs li > a{
    padding: 28px;
    width: 115px;
    display: inline-block;
    background-repeat: no-repeat;
    font-size: 15px;
    color: #b9b9b9;
    text-align: center;
    font-weight: 580;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;
    line-height: 35px;
    text-decoration: none;
    margin-right: 35px;
}
.secciones{
    width: 100%;
    background-color: white;
}
.secciones section{
    padding: 30px;
}
.secciones section p{
    text-align: justify;
}

.tabs li.activo a{
    color:#cf455c;
}


.activo{
    background: url(../img/tab-hover.png) no-repeat;
    
}
.tabs li a.activo {
    color: #cf455c;
}
.tmenu.active i {
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}

a.tab-profile.active i{
    animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-0px);}
	60% {-webkit-transform: translateY(-10px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-0px);}
	60% {-moz-transform: translateY(-10px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-0px);}
	60% {-o-transform: translateY(-10px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-0px);}
	60% {transform: translateY(-10px);}
}


.tabs li > a > i{
    font-size: 45px;
    display: block;
    margin-bottom: 5px;
}

#logo{
    float: left;
    overflow: hidden;
    margin-left: 10px;
    display: none;
}

#logo h4{
    color: #555;
    line-height: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 7px;
    
}
/* Resume Section */

/*-------------------------------------------------------*/
#resume {
	padding: 40px 20px;
	overflow: hidden;
}
.skills-section, .timeline-section {
	float: left;
}
/* Timeline Section */
.timeline-section {
	width: auto;
	padding-right: 60px;
}
.timeline {
	margin-bottom: 30px;
}
.timeline li {
	margin-bottom: 20px;
}
.timeline li .timelineUnit {
	line-height: 17px;
	margin-left: 0px;
	color: #444;
	font-size: 13px;
	border-left: 1px solid #cf455c;
	padding-left: 15px;
}

.timeline li .timelineUnit .timelineDate {
	line-height: 17px;
	color:#cf455c;
	font-size: 14px;
	margin-left: 10px;
	font-weight: normal;
	padding: 2px 6px;
	float: right;
}

.timeline li .timelineUnit h4 {
	line-height: 24px;
	font-size: 15px;
	color: #444;
}

.timeline li .timelineUnit h5 {
	line-height: 18px;
	font-size: 13px;
	color: #999;
}

.timeline li .timelineUnit p {
	color: #666;
	font-size: 12px;
	margin-top: 5px;
}

/* Skills Section */
.skills-section {
	width: 270px;
}

.skills {
	margin-bottom: 25px;
	overflow: hidden;
}

.skills li {
	margin-bottom: 15px;
	float: left;
	padding-left: 0px;
}

.skills li h4 {
	width: 140px;
	float: left;
	font-size: 15px;
	color: #444;
}

.skills li .rating {
	width: 123px;
	height: 14px;
	float: left;
}

.skills li .rating > span {
	opacity: 0.3;
	height: 12px;
	width: 12px;
	background-color: #757575;
	display: block;
	float: left;
	margin-right: 1px;
	border: 2px solid #eeeeee;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

/* Download Button */
#resume .button {
	width: 250px;
	padding: 10px;
	background-color: #8c8c8c;
	overflow: hidden;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin: 20px 0px 0px -20px;
	color: #f7f7f7;
	display: block;
	text-align: center;
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

#resume .button:hover {
	background-color:#cf455c;
}

/*-------------------------------------------------------*/

/* style-main */
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
i.fa.fa-share-alt-square {
    color: #fff!important;
}
/* aligns caption to center */
.mfp-title {
    text-align: center;
    padding: 6px 0;
  }
  p,
ul,
li,
ol {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h1
h2,
h3,
h4,
h5,
h6{font-family: 'Oswald', sans-serif!important;}
.no-margin {
    margin: 0px;
}
.no-padding {
    padding: 0px;
}
.bg-color-left{background:#f7f7f7;}
.bg-color-right{
    border-color: #cf455c;
    padding-right:10px ;
}
.bg-color-right{background:#1c1b1f;}
.bg-color-1{background:#e4e4e4;}
.left-name h2 {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    color: #383838;
    font-weight: 800;
    font-family: 'Oswald', sans-serif !important;
}
.left-name h2 span {
    color: #cf455c;
    float: left;
    width: 100%;
    margin-top: -11px;
}
.left-name,.left-address {
    padding: 27px;
}
.left-name.bg-color-1 h5 {
    display: inline-block;
    text-transform: uppercase;
    padding: 7px 16px;
    margin: 10px 0px 20px;
    border-radius: 50px;
	color: #fff;
	background-color:#cf455c;
}
.left-name p {
    color: #383838;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
.left-address li {
    list-style: none;
    margin-bottom: 32.9px;
    font-weight: 600;
    color: #383838;
    font-size: 14px;
}
.text-color {
    color: #cf455c;
}
/*bobo con la derecha*/
.right-skills{
    text-align: center;
    
}
.left-address span {
    width: 84px;
    display: inline-block;
    text-transform: uppercase;
}
.left-address span {
    width: 84px;
    display: inline-block;
    text-transform: uppercase;
}
.ex-heading h2 {
    background: #cf455c;
    color: #fff;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 6px 27px;
    font-size: 25px;
}
.ex-box h2 {
    background: #cf455c;
    color: #fff;
    font-size: 17px;
   line-height: 17px;
    display: inline-block;
    padding: 5px 21px;
    font-weight: 600 !important;
    border-radius: 50px;
    letter-spacing: 1px;
}
.ex-box {
    padding: 27px 27px 0px 27px;
}
.ex-box h4 {
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0px 5px;
    
}
.ex-box p {
    font-size: 13px;
    font-weight: 600;
    color: #545454;
}

.left-address {
    padding: 40px 0px 21px 29px;
}

.progress {
    height: 8px;
    margin-top: 10px;
    
}
.right-skills {
    width: auto;
    color: #cf455c;
    position: relative;
    border-left: 0px solid #cf455c;

}
.heading-skills h3 {
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding-bottom: 14px;
}
h3.ed{
    padding: 27px 27px 0px 27px;
}
h3.eb{
    padding: 27px 27px 0px 27px;
}
.right-skills h4 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 22px;
}
.mt-25{margin-top:25px;}
.intestst-box i.fa {
    font-size: 36px;
    color: #fff;
    text-align: center;
}
.intestst-icons {
    color: #fff;
    text-align: center;    
    margin-bottom: 19px;
}
.intestst-icons h5 {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
}
.eduction-right {
    display: inline-block;
    padding: 35px 35px 35px 35px;
}
.eduction-right .ex-box {
    padding: 27px 27px 0px 0px;
}
.eduction-right h3 {
    padding-bottom: 0px;
}
.eduction-right .ex-box h4 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
}
 .eduction-right .ex-box p {
    color: #fff;
     font-weight: 400;
}
.qr-box {
    background: #cf455c;
    padding: 20px;
}
.address-right-box ul li {
    list-style: none;
    display: flex;
}
.address-right-box ul li {
    list-style: none;
    display: flex;
    color: #908e8e;
    margin-bottom: 21px;
    font-size: 13px;
    font-weight: 600;
}
.address-qr-right{padding: 35px 35px 0px 35px;}
.address-right-box {
    padding: 0px 30px;
}
.qr-box img {
    width: 169px;
    max-width: 100%;
}
.carttitle-wrapper {
    width: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    
}

.address-right-box i.fa {
    margin-right: 15px;
    color: #cf455c;
    font-size: 20px;
}
.col-md-6.no-padding.bg-color-left {
    padding-bottom: 30px;
}
.skill-name ul li {
    list-style: none;
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
}
.sn {
    color: #fff;
    font-size: 28px;
    font-weight: 700;     
    width: 68px;
    height: 68px;
    border: 5px solid #cf455c;
    border-radius: 60%;
    text-align: center;
    padding-top: 8px;
}
.top-skills {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 451px;
    
    
    
}
.skill-name {
    margin-right: 22px;
}
.color-box {
    position: absolute;
    top: 68px;
}
.bg-warning {
    background-color: #cf455c!important;
}

/*boton*/
button.setting-icon {
    height: 30px;
    width: 30px;
    position: relative;
    top: 2px;
    background: #cf455c;
    color: #fff;
    border: 2px solid #fff;
}
.color-box {
    width: 31px;
    margin-left: -55px;
    transition: all ease 1s;
    top: 173px;
    z-index: 99;
}
.color-box .btn-style {
    opacity: 0;
   display: none;
}
.color-box.main .btn-style {
    opacity: 1;
}
.color-box.main {
    margin-left: -44px;
}
/*fin de bobo*/
/* color scheeme */
button#yellow-color {
    background: #edde45;
    border: 2px solid white;
}
button#red-color {
    background: #cf455c;
    border: 2px solid white;
}
button#blue-color {
    background: blue;
    border: 2px solid white;
}
button#green-color {
    background: green;
    border: 2px solid white;
}
.btn-style {
    border: 0;
    width: 30px;
	height:30px;
     
}
 
/* yellow color */
#yellow .left-name h2 span {
    color: #edde45;
}
#yellow .bg-warning {
    background-color: #edde45!important;
}
#yellow .sn {
    border: 5px solid #edde45;
}
#yellow .address-right-box i.fa {
    color: #edde45;
}
#yellow .qr-box {
    background: #edde45;
}
#yellow .ex-box h2 {
    background: #edde45;
    color: #383838;
}
#yellow .ex-heading h2 {
    background: #edde45;
    color: #383838;
}
#yellow .right-skills:after,#yellow .right-skills:before {
    background: #edde45;
}
#yellow .text-color {
    color: #edde45;
}
#yellow .left-name h2 span {
    color: #edde45;
}
#yellow .left-name.bg-color-1 h5 {
    color: #fff;
	background-color: #edde45;
}
/* yellow color */
/* red color */
#red .left-name h2 span {
    color: #cf455c;
}
#red .bg-warning {
    background-color: #cf455c!important;
}
#red .sn {
    border: 5px solid #cf455c;
}
#red .address-right-box i.fa {
    color: #cf455c;
}
#red .qr-box {
    background: #cf455c;
}
#red .ex-box h2 {
    background: #cf455c;
    color: #fdf9f9;
}
#red .ex-heading h2 {
    background: #cf455c;
    color: #f9f9f9;
}
#red .text-color {
    color: #cf455c;
}
#red .left-name h2 span {
    color: #cf455c;
}
#red .left-name.bg-color-1 h5 {
    color: #fff;
	background-color: #cf455c;
}
/* red color */
/* blue blue */
#blue .left-name h2 span {
    color: #cf455c;
}
#blue .bg-warning {
    background-color: blue!important;
}
#blue .sn {
    border: 5px solid blue;
}
#blue .address-right-box i.fa {
    color: blue;
}
#blue .qr-box {
    background: blue;
}
#blue .ex-box h2 {
    background: blue;
    color: #fff
}
#blue .ex-heading h2 {
    background: blue;
    color: #fff;
}
#blue .text-color {
    color: blue;
}
#blue .left-name h2 span {
    color: blue;
}
#blue .left-name.bg-color-1 h5 {
	color: #fff;
	background-color: blue;
	
}
/* blue color */
/* green blue */
#green .left-name h2 span {
    color: green;
}
#green .bg-warning {
    background-color: green!important;
}
#green .sn {
    border: 5px solid green;
}
#green .address-right-box i.fa {
    color: green;
}
#green .qr-box {
    background: green;
}
#green .ex-box h2 {
    background: green;
    color: #fff
}
#green .ex-heading h2 {
    background: green;
    color: #fff;
}
#green .text-color {
    color: green;
}
#green.left-name h2 span {
    color: green;
}
#green .left-name.bg-color-1 h5 {
	color: #fff;
	background-color: green;
}
/* green color */

/*portfolio */
#portfoli{
    padding: 31px;
}
#portfoli-list{
    width: 820px;
    overflow: hidden;
}
#portfoli-list li a{
    text-decoration: none;
}
#portfoli-list li{
    float: left;
    margin-left: 25px;
    text-align: center;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e5e5e5;
    height: 185px;
    margin-bottom: 30px;
    width: 180px;
}
#portfoli-list li:hover{
    border-bottom: 1px solid #cf455c;
    height: 185px;
}

#portfoli-list img{
    background-color: white;
    height: 120px;
    width: 185px;
}
#portfoli-list li:hover .title{
 color: #cf455c;
}
#portfoli-list li .title{
    font-size: 14px;
    margin-top: 15px;
    font-weight: 400;
    color: #3a3a3a;
    font-family: 'Roboto Condensed',sans-serif;
   }
   #portfoli-list li .categorie{
       font-size: 11px;
       line-height: 25px;
       color: #999;
   }
   .cats-filter{
       border-bottom: 1px solid #ededed;
       overflow: hidden;
       padding: 15px 0;

   }
   .cats-filter li a{
       float: left;
       text-decoration: none;
       margin-right: 7px;
       color: white;
       background-color: #777;
       padding: 10px 10px;
       margin-bottom: 5px;
       font-size: 13px;
       font-family: 'Roboto Condensed',sans-serif;
       text-transform: uppercase;
       border-radius: 50px;
   }
   .cats-filter li a.current{
    background-color:#cf455c;
   }
   .extra-text{
    font-family: 'Roboto Condensed',sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #333 !important;
   }
/*fin */
/*the last leccion*/
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    font-size: 13px;
    color: #333232;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 600;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.form-control:focus {
    border-color: #cf455c;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
#contact{
    overflow: hidden;
    font-family: 'Roboto Condensed',sans-serif;
}
.contact-info, .contact-form{
    float: left;
    padding: 0 20px;

}
.contact-info{
    width: 250px;
    font-family: 'Roboto Condensed',sans-serif;
}
.contact-form{
    width: 530px;
}
.contact-info ul{
    float: left;
    border-left: 1px solid #cf455c;
    padding-left: 18px;
}
.contact-info ul li{
    font-size: 13px;
    line-height: 20px;
    color: #777;
    overflow: hidden;
    font-family: 'Roboto Condensed',sans-serif;
}
#map{
    height: 300px;
    margin-bottom: 25px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
#map iframe{
    width: 100%;
}
form .input ,textarea{
    box-shadow: inset 0 5px 17px -13px #333;
    background: #fdfdfd;
    border: 1px solid #ced4da;
    border-radius: 2px;
    color: #777;
    font-size: 12px ;
    height: 30px;
    outline: none;
    padding: 7px 10px;
    resize: none;
    width: 97%;
}
form textarea{
    height: 112px;
    line-height: 18px;
    margin-bottom: 0;
    padding-top: 8px;
}
form label{
    display: block;
    color: #999;
    margin-bottom: 8px;
    font-size: 13px;
}
.button{
    color: white;
    background-color: #cf455c;
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}
